@import './extensions/_all.css';

.full-h {
    height:100vh;
}

/* -------------------- HELPER CSS -------------------- */
.marg-top-2 {
    margin-top: 2vh;
}

.marg-bottom-2 {
    margin-bottom: 2vh;
}

.marg-left-2 {
    margin-left: 2vh;
}

.marg-right-2 {
    margin-right: 2vh;
}